{% load staticfiles %}
<html>
<head>
<title>Издательство</title>
<link rel="stylesheet" type="text/css" href="{% static 'page/style.css' %}" />

</head>


<body>

<div class="header">
  <div id="z_one"></div>
  <div id="z_two"></div> 
  <div id="z_three"></div>
</div>


<div class="pic"></div>
<div class="inf">A very excited Hermione Granger left the loo and started walking back towards her compartment. Her first semester at Hogwarts was over, but the school was more than she could have ever dreamed. The professors were knowledgeable, the magic incredible, the library was HUGE, and she had real friends for the first time in her life. </div>



<div class="pic"></div>
<div class="inf">A very excited Hermione Granger left the loo and started walking back towards her compartment. Her first semester at Hogwarts was over, but the school was more than she could have ever dreamed. The professors were knowledgeable, the magic incredible, the library was HUGE, and she had real friends for the first time in her life. </div>



<div class="pic"></div>
<div class="inf">A very excited Hermione Granger left the loo and started walking back towards her compartment. Her first semester at Hogwarts was over, but the school was more than she could have ever dreamed. The professors were knowledgeable, the magic incredible, the library was HUGE, and she had real friends for the first time in her life. </div>


</body>
</html>