@media only screen and (max-width: 900px){

*{margin:0px;padding:0px}
body {
	background-color: #f5f5f5;	
}

.header {  
  height: 300px;
  background-color: #f5f5f5;  
}

#z_one {
 
 width: 33.33333%;
 height: 300px;
 background:url(images/01.jpg) no-repeat center;
 background-size: 100% 100%;
 background-attachment: scroll;
 opacity: 0.6;
 float: left;
 }

#z_two {
 
 width: 33.33333%;
 height: 300px;
 background:url(images/02.jpg) no-repeat center;
 background-size: 100% 100%;
 background-attachment: scroll;
 opacity: 0.6;
 float: left;
 }

 #z_three {
 
 width: 33.33333%;
 height: 300px;
 background:url(images/03.jpg) no-repeat center;
 background-size: 100% 100%;
 background-attachment: scroll;
 opacity: 0.6;
 float: left;
 }

.pic{

	background:url(images/01.jpg) no-repeat center;
 	background-size: 100% 100%;
 	background-attachment: scroll;
	width: 300px;
	height: 400px;
	background-color: blue;
	position: static;
	margin-left: auto;
    margin-right: auto;

}


.inf{

	width: 100%;
	position: static;
	margin-left: auto;
    margin-right: auto;

}

}

@media only screen and (min-width: 900px){

*{margin:0px;padding:0px}
body {background-color: lightgrey;}

.header {
  perspective: 900px;
  height: 350px;
  background-color: lightgrey;
  padding-top: 40px;

  
}


.pic{

	background:url(images/01.jpg) no-repeat center;
 	background-size: 100% 100%;
 	background-attachment: scroll;
	height: 400px;
	width: 20%;
	background-color: blue;
	position: static;
	float: left;

}


.inf{

	width: 80%;
	height: 400px;
	position: static;
	float: left;

}

 #z_one {
 position: relative;
 margin-top: 0px; 
 margin-left: 10%;
 background: #C3F462;
 width: 10%;
 height: 300px;
 z-index: 3;
 transform: rotateY(30deg);
 background:url(images/01.jpg) no-repeat center;
 background-size: 100% 100%;
 background-attachment: scroll;
 opacity: 0.8;
 

 }
 
 #z_two {
 position: relative;
 margin-top: -300px; 
 margin-left: 20%;
 background: #FCF98C;
 width: 10%;
 height: 300px;
 z-index: 2;
 transform: rotateY(30deg);
 background:url(images/02.jpg) no-repeat center;
 background-size: 100% 100%;
 background-attachment: scroll;
 opacity: 0.7;
 }
 
 #z_three {
 position: relative;
 margin-top: -300px; 
 margin-left: 30%;
 background: #FCD18C;
 width: 10%;
 height: 300px;
 z-index: 1;
 transform: rotateY(30deg);
 background:url(images/03.jpg) no-repeat center;
 background-size: 100% 100%;
 background-attachment: scroll;
 opacity: 0.6;
 }
 
 #z_one:hover, #z_two:hover, #z_three:hover {
 z-index: 4;
 opacity: 1;
 }




										}